@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

body {
  padding: 0;
  margin: 0;
  background-color: #fafafa;
  color: #333;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 14px;
}

#navbar {
  font-size: 18px;
}
  #navbar .nav-logo {
    font-family: 'Dancing Script', cursive;
    font-size: 36px;
  }

#home {
  background-image: url('../Images/bg-home.jpg');
  background-size: cover;
  background-position: center;
  width: auto;
  height: 560px;
  margin-bottom: 75px;
}

  #home .overlay {
    padding-left: 100px;
    background-color: rgba(0, 0, 0, 0.55);
    width: 100%;
    height: 100%;
  }

    #home .overlay .intro {
      display: block;
      color: #f2f2f2;
    }

#about {
  padding: 50px 10px;
  margin-bottom: 75px;
}

#work {
  padding: 50px 10px;
  margin-bottom: 75px;
}
  
  #work .work-item {
    padding: 25px 5px;
    border-radius: 10px;
  }

  #work .work-item:hover {
    background-color: #ddd;
    transition: 500ms;
  }

  #work .work-item .on-hover {
    display: none;
  }

  #work .work-item:hover .on-hover {
    display: block;
    transition: 500ms;
  }

#project {
  margin-bottom: 75px;
  padding: 50px 10px;
}

#contact {
  margin-bottom: 75px;
  padding: 50px 10px;
}

  #contact .input {
    border: none;
    border-bottom: 2px solid;
    width: 100%;
  }

#footer {
  background-color: #000;
  padding: 20px 170px;
  color: #fafafa;
}

@media(max-width: 480px) {
  #home {
    height: 300px;
    margin-bottom: 20px;
  }

    #home .overlay {
      padding: 20px;
      flex-direction: column;
      justify-content: center;
    }
  
  #about {
    margin-bottom: 20px;
    padding: 20px 10px;
  }

    #about .ava {
      width: 240px;
      height: 240px;
    }

  #work {
    padding: 20px 10px;
    margin-bottom: 20px;
  }
    #work .title {
      padding: 5px !important;
      margin: 5px !important;
    }
  
  #project {
    padding: 20px 10px;
    margin-bottom: 20px;
  }

  #contact {
    padding: 20px 10px;
    margin-bottom: 20px;
  }

  #footer {
    padding: 20px;
  }
}